.contact-form{
    .row{
        background-image: url(../img/topography.png);
        background-repeat:repeat;
    }
    margin:15px auto;
    .form-spacer{
        display: none;
        color:red;
        font-size: 14px;
        border:1px solid #000000;
        margin:15px auto;
        line-height:2;
        padding: 0px 12px;
        &.valid{
            color:green !important;
        }
    }
    .form-group{
        color:#000000;
        font-weight: 700;
        font-size: 14px;
        .form-control{
            color:#000000;        
            font-size: 14px;
            font-weight: 400;
            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color:#000000;
                opacity: 0.5; 
            }
            &.message{
                min-height: 177px;
                width: 100%;
                max-width: 100%;
                min-width: 100%;
            }
        }
    }
    .send_div{
        padding-left: 0px;
        padding-right: 0px;
    }
    .send{
        float:right;
        background-color: $orange;
        width:120px;
        font-size: 15px;
        font-weight: 700;
        border-radius: 15px;
        line-height:2;
        border:0px;
        color:#ffffff; 
    }
}